<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
<customErrors mode="On" defaultRedirect="/v2/error.aspx"/>
 	<customErrors mode="On" defaultRedirect="/v2/error.aspx">
			<error statusCode="404" redirect="/v2/error.aspx"/>
			<error statusCode="500" redirect="/v2/500.aspx"/>
		</customErrors>
  
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
	
		<compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
